* {
   margin: 0;
   padding: 0;
}

:root {
   --typeface-header: Candara;
   --typeface-main: Roboto;
   --typeface-weight-medium: 200;
   --typeface-weight-regular: 600;

   --color-container: beige;
   --color-true: red;
   --color-false: brown;
   --color-content: lightgray;
}

@mixin title-typeface($size) {
   font-family: var(--typeface-header);
   font-weight: var(--typeface-weight-regular);
   font-size: $size;
   line-height: 40px;
   letter-spacing: 0.15px;
   font-style: italic;
   text-transform: uppercase;
}

@mixin footer-typeface($size) {
   font-family: var(--typeface-header);
   font-weight: var(--typeface-weight-regular);
   font-size: $size;
   line-height: 32px;
   letter-spacing: 0.1px;
}

@mixin content-typeface($size) {
   font-family: var(--typeface-main);
   font-size: $size;
   line-height: 18px;
   letter-spacing: 0.05px;
   text-indent: 10px;
}


.container {
   background: var(--color-container);
   padding-top: 20px;
}

header {
   width: 100vw;
   background: var(--color-container);
   padding-block: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 25px;
   will-change: transform;
   position: sticky;
   top: 0;

   h1 {
      @include title-typeface(40px);
      text-shadow: rgba(255, 0, 0, 0.22) 1px 3px;
      text-align: center;

      @media (max-width: 800px) {
         font-size: 32px;
      }
   }

   button {
      width: 50vw;
      padding: 0 50px;
      @include title-typeface(24px);
      color: var(--color-container);
      text-decoration: none;
      transition: 0.2s;
      border-radius: 5px;
      border: none;
      box-shadow:
         0 3px 5px rgba(0, 1, 6, .5),
         0 0 1px 1px rgba(0, 1, 6, .2);
      background: var(--color-true);

      @media (max-width: 800px) {
         font-size: 20px;
      }

      &:hover {
         background: var(--color-false);
         opacity: 0.8;
      }
   }

   #histori {
      width: 35vw;
      text-align: center;
      background-color: var(--color-true);
      padding: 5px 30px;
      border-radius: 5px;
      border: none;
      box-shadow:
         0 3px 5px rgba(0, 1, 6, .5),
         0 0 1px 1px rgba(0, 1, 6, .2);

      h2 {
         @include footer-typeface(28px);
      }
   }

}

main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px !important;
   padding: 20px;
   margin-block: 10px;
   margin-inline: 25px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

   p {
      @include content-typeface(16px);
   }

   h3 {
      @include content-typeface(20px);
      padding-block: 10px;
   }

   span {
      @include footer-typeface(14px);
      color: var(--color-true);

   }

   &.trueStory {
      background: var(--color-true);

      .profile {
         display: grid;
         grid-template-columns: minmax(150px, 2fr) minmax(200px, 3fr);
         gap: 20px;

         .foto {
            background-image: url(../dist/foto/lavr-true.jpg);
            background-size: cover;
            height: 300px;
            border-radius: 8px;
         }

         .drawing {
            background-image: url(../dist/foto/nuclear_station.jpg);
            background-size: cover;
            height: 300px;
            border-radius: 8px;
         }

         @media (max-width: 800px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
         }
      }
   }

   &.falseStory {
      background: var(--color-false);


      .profile {
         display: grid;
         grid-template-columns: minmax(200px, 3fr) minmax(150px, 2fr);
         gap: 20px;

         .foto {
            background-image: url(../dist/foto/lavr-false.jpg);
            background-size: cover;
            height: 300px;
            border-radius: 8px;
         }

         .drawing {
            background-image: url(../dist/foto/stupid_lies.jpg);
            background-size: cover;
            height: 300px;
            border-radius: 8px;
         }

         &.less {
            display: none;

            @media (max-width: 800px) {
               display: grid;
               grid-template-columns: 1fr;
               gap: 20px;
            }
         }

         &.more {
            @media (max-width: 800px) {
               display: none;
            }
         }
      }
   }

   @media (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
   }

   .side {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .left {
         margin-bottom: 20px;
      }
   }

   .present,
   .mith {
      background: var(--color-content);
      padding: 10px;
      box-shadow: 0 0 40px rgba(0, 0, 0, .5) inset;
      border-radius: 8px;

   }
}

footer {
   padding: 20px 80px;
   text-align: center;

   h1 {
      @include footer-typeface(30px);
      text-shadow: rgba(0, 0, 0, 0.22) 1px 3px;
   }
}

#box-2 {
   display: none;
}